.modale-content {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s both ease-in-out;
  width: 100%;
  height: 100%;
}
.modale-content .modale-box-anim-in {
  animation: slideFromTop 0.5s both ease-in-out;
}
.modale-content .modale-box {
  width: 41.5%;
  background-color: white;
}
.modale-content .modale-box .modale-border {
  border: 4px solid black;
  overflow: hidden;
}
.modale-content .modale-box .modale-border .modale-background {
  background: url(../assets/images/Contact.png);
  width: 120%;
  height: 106px;
  left: -10%;
  position: relative;
  margin-top: 18px;
  margin-bottom: 45px;
}
.modale-content .modale-box .modale-border .wpcf7 {
  margin: 0% 28% 7.5% 28%;
}
.modale-content .modale-box .modale-border .wpcf7 p {
  margin-block-start: 24px;
  margin-block-end: 24px;
}
.modale-content .modale-box .modale-border .wpcf7 p .modale-submit {
  margin-top: 13px;
  letter-spacing: 0.1em;
  width: 100%;
}
.modale-content .modale-box .modale-border .wpcf7 p label {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-size: 14px;
  text-transform: uppercase;
}
.modale-content .modale-box .modale-border .wpcf7 p input,
.modale-content .modale-box .modale-border .wpcf7 p textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #B8BBC2;
  margin-top: 5px;
  border-radius: 8px;
  padding: 0;
  padding-left: 10px;
}
.modale-content .modale-box .modale-border .wpcf7 p input {
  height: 40px;
}
.modale-content .modale-box .modale-border .wpcf7 p textarea {
  height: 142px;
}

.modale-hide {
  display: none;
}

.modale-anim-out {
  animation: fadeOut 0.3s both ease-in-out;
}

.modale-box-anim-out {
  animation: slideToBottom 0.5s both ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideFromTop {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes slideToBottom {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100px);
  }
}
/* CSS de la div content */
.header_content {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  /* CSS du logo */
}
.header_content .custom-logo-link {
  margin-left: 10%;
  width: 50%;
}

/* CSS de la navigation */
.menu-navigation-container {
  margin-right: 10%;
  width: 50%;
}
.menu-navigation-container .menu {
  display: flex;
  width: auto;
  list-style-type: none;
  justify-content: flex-end;
}
.menu-navigation-container .menu .menu-item {
  padding-left: 45px;
}

.menu-nav-footer-container {
  border-top: 1px solid black;
  background: #FFFFFF;
}
.menu-nav-footer-container .menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0px;
  padding: 0px;
}
.menu-nav-footer-container .menu .menu-item {
  padding-left: 85px;
}

.container-hero {
  position: relative;
  width: 100%;
  height: 100vh;
}
.container-hero h1 {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 1000px;
  height: 142px;
}

.row {
  display: flex;
  margin: 40px 10% 50px 10%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.row .card-photo {
  width: calc(50% - 10px);
  height: 34.4vw;
  max-height: 495px;
  position: relative;
}

.home-cta {
  margin-bottom: 41px;
  display: flex;
  justify-content: center;
}
.home-cta .cta {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-content-photo {
  padding: 2.6% 10% 0% 10%;
  display: flex;
  align-items: flex-end;
}
.post-content-photo .post-column-left {
  width: 50%;
}
.post-content-photo .post-column-left h2 {
  max-width: 75%;
  margin: 0px;
}
.post-content-photo .post-column-left .post-description {
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 37px;
}
.post-content-photo .post-column-left .post-description .single-photo-description {
  margin-top: 20px;
  margin-bottom: 0px;
}
.post-content-photo .post-column-right {
  width: 50%;
  display: flex;
}
.post-content-photo .post-column-right .wp-post-image {
  width: 100%;
}

.post-content-contact {
  display: flex;
  align-items: center;
  height: 118px;
  margin: 0 10% 0 10%;
  border-bottom: 1px solid black;
  margin-bottom: 77px;
}
.post-content-contact .post-column-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3%;
  width: 50%;
  border-top: 1px solid black;
  height: 100%;
}
.post-content-contact .post-column-left p {
  width: 50%;
}
.post-content-contact .post-column-left button {
  width: 50%;
}
.post-content-contact .post-column-right {
  width: 50%;
  height: 100%;
}

.container-thumbnail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
}
.container-thumbnail .img-next,
.container-thumbnail .img-previous {
  position: absolute;
  top: 0;
  padding-top: 8px;
  transition: all 300ms ease-in-out;
  opacity: 0;
  z-index: 1;
}
.container-thumbnail a {
  position: absolute;
  width: 25px;
  padding-bottom: 10px;
  bottom: 0;
}
.container-thumbnail .a-previous-arrow {
  right: 56px;
}
.container-thumbnail .a-previous-arrow:hover + .img-previous {
  opacity: 1;
  z-index: 2;
}
.container-thumbnail .a-next-arrow:hover + .img-next {
  opacity: 1;
  z-index: 2;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s;
}
.lightbox .lightbox__next,
.lightbox .lightbox__prev {
  border: none;
  background: url(../assets/images/arrown.png) center center/25px 16px no-repeat;
  text-indent: -110px;
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-family: "Space Mono", monospace;
  width: 75px;
  height: 60px;
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -7px;
  z-index: 11;
  cursor: pointer;
}
.lightbox .lightbox__prev {
  right: auto;
  text-indent: 60px;
  background: url(../assets/images/arrowp.png) center center/25px 16px no-repeat;
  left: 0;
}
.lightbox .lightbox__close {
  background: url(../assets/images/cross.png) center center/22px 22px transparent;
  width: 22px;
  height: 22px;
  border: none;
  text-indent: -30000px;
  top: 55px;
  right: 55px;
  position: fixed;
  z-index: 12;
  cursor: pointer;
}
.lightbox .lightbox__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;
  min-height: 100vh;
}
.lightbox .lightbox__container img {
  max-width: 100vw;
  max-height: 95vh;
  margin-bottom: 5vh;
}
.lightbox .container-photo-lightbox-description {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  margin: -35px 200px;
}
.lightbox .container-photo-lightbox-description .lightbox-photo-cat, .lightbox .container-photo-lightbox-description .lightbox-photo-ref {
  color: white;
}

.fadeIn {
  animation: lightboxIn 300ms both ease-in-out;
}

.fadeOut {
  animation: lightboxOut 300ms both ease-in-out;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes lightboxOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.photo-overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.photo-overlay:hover {
  opacity: 1;
}
.photo-overlay .div-sign-full-screen {
  position: absolute;
  top: 11px;
  right: 18px;
  width: 34px;
  height: 34px;
  background-color: black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}
.photo-overlay .div-sign-full-screen .sign-full-screen {
  height: 14px;
}
.photo-overlay .a-oeil {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 31.2px;
  width: 46px;
  z-index: 2;
}
.photo-overlay .container-photo-hover-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 0;
  padding: 0% 3.5% 2.5% 3.5%;
  position: relative;
  height: 100%;
}
.photo-overlay .container-photo-hover-description .hover-photo-description {
  font-family: "Space Mono", monospace;
  color: white;
}

.photo-block {
  padding: 0% 10% 0% 10%;
  margin-bottom: 65px;
}
.photo-block .photo-apparentee {
  margin-top: 52px;
  margin-bottom: 52px;
  display: flex;
  height: 50vh;
  gap: 20px;
}
.photo-block .photo-apparentee .container-photo-apparentee {
  width: 50%;
  height: 100%;
  gap: 0;
  position: relative;
}
.photo-block .div-cta {
  display: flex;
  justify-content: center;
}
.photo-block .div-cta a {
  width: 100%;
  max-width: 272px;
}

.container-select {
  height: 100%;
  margin: 79px 10% 0 10%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container-select .container-select-cat-format {
  display: flex;
  width: calc(50% - 10px);
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  height: 43px;
}
.container-select .container-select-date {
  display: flex;
  width: calc(50% - 10px);
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  height: 43px;
}

.select {
  display: inline-block;
  padding: 0;
  position: relative;
  margin: 0;
  z-index: 5;
  background-color: white;
  border-radius: 8px;
  height: 100%;
  width: calc(50% - 10px);
}
.select li {
  display: none;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0px 7%;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.03em;
  box-sizing: border-box;
}
.select li img {
  transition: all 300ms ease-in-out;
}
.select li:first-child {
  display: flex;
  border-top: 0px;
  color: var(--blue-dark);
  border: 1px solid #b8bbc2;
  text-transform: uppercase;
  border-radius: 8px;
  width: 100%;
}
.select li:last-child {
  border-radius: 0px 0px 8px 8px;
}
.select li:first-child:focus {
  border: 1px solid #215aff;
}
.select li:hover {
  background-color: #ddd;
}
.select li:first-child:hover {
  background-color: white;
}
.select.open li {
  display: flex;
}
.select .js-list-li,
.select .js-list-li-format,
.select .js-list-li-date {
  animation: slideFromBot 300ms both ease-in-out, fadeIn 300ms both ease-in-out;
  background-color: white;
}
.select .js-list-li:hover,
.select .js-list-li-format:hover,
.select .js-list-li-date:hover {
  background-color: #ffd6d6;
}
.select .js-list-li:active,
.select .js-list-li-format:active,
.select .js-list-li-date:active {
  background-color: var(--saumon);
}
.select .color-li,
.select .color-li-format,
.select .color-li-date {
  background-color: var(--red);
  color: white;
}
.select li:first-child.init-select-active,
.select li:first-child.init-select-active-format,
.select li:first-child.init-select-active-date {
  border: 1px solid #215AFF;
  border-radius: 8px 8px 0 0;
}

.filter-chevron-rotate,
.filter-chevron-rotate-format,
.filter-chevron-rotate-date {
  transform: rotate(0.5turn);
}

.select-format {
  z-index: 4;
}

.select-date {
  z-index: 3;
}

@keyframes slideFromBot {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --red: #E00000; /* var(--red) */
  --saumon: #FE5858; /* var(--saumon) */
  --red-light: #EDEDED; /* var(--red-light) */
  --black: #000000; /* var(--black) */
  --blue-dark: #313144; /* var(--blue-dark) */
  --grey-dark: #C4C4C4; /* var(--grey-dark) */
  --grey: #D8D8D8; /* var(--grey) */
  --grey-light: #E5E5E5; /* var(--grey-light) */
}

h1 {
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-weight: 700;
  font-size: 96px;
  line-height: 142px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  letter-spacing: -1.5px;
}

/* H2 desktop */
h2 {
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-size: 66px;
  line-height: 58px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black);
}

/* H3 */
h3 {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black);
  margin: 0;
}

/* p */
p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* Menu Nav Header / Footer */
.menu-item a, .menu-item span {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  color: var(--black);
}

.menu-item a:hover {
  font-weight: 700;
}

/* Description photo */
.single-photo-description, .lightbox-photo-cat, .lightbox-photo-ref {
  font-family: "Space Mono", monospace;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black);
}

.cta {
  border: none !important;
  background-color: var(--grey);
  font-family: "Space Mono", monospace;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.02);
  border-radius: 2px !important;
  font-size: 12px;
  height: 50px !important;
  transition: all 300ms ease-out;
  max-width: 272px;
  width: 100%;
  cursor: pointer;
}
.cta:hover {
  color: white;
  background-color: black;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*# sourceMappingURL=theme.css.map */
