.post-content-photo {
  padding: 2.6% 10% 0% 10%;
  display: flex;
  align-items: flex-end;
  & .post-column-left {
    width: 50%;
    & h2 {
      max-width: 75%;
      margin: 0px;
    }
    & .post-description {
      font-family: "Space Mono", monospace;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding-bottom: 37px;
      & .single-photo-description {
        margin-top: 20px;
        margin-bottom: 0px;
      }
    }
  }
  & .post-column-right {
    width: 50%;
    display: flex;
    & .wp-post-image {
      width: 100%;
    }
  }
}

.post-content-contact {
  display: flex;
  align-items: center;
  height: 118px;
  margin: 0 10% 0 10%;
  border-bottom: 1px solid black;
  margin-bottom: 77px;
  & .post-column-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3%;
    width: 50%;
    border-top: 1px solid black;
    height: 100%;
    & p {
      width: 50%;
    }
    & button {
      width: 50%;
    }
  }
  & .post-column-right {
    width: 50%;
    height: 100%;
  }
}

.container-thumbnail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  & .img-next,
  .img-previous {
    position: absolute;
    top: 0;
    padding-top: 8px;
    transition: all 300ms ease-in-out;
    opacity: 0;
    z-index: 1;
  }

  & a {
    position: absolute;
    width: 25px;
    padding-bottom: 10px;
    bottom: 0;
  }
  & .a-previous-arrow {
    right: 56px;
    &:hover + .img-previous {
      opacity: 1;
      z-index: 2;
    }
  }
  & .a-next-arrow {
    &:hover + .img-next {
      opacity: 1;
      z-index: 2;
    }
  }
}
